/HelloWorld/nbproject/private/
/HelloWorld/build/
/ExemploAula2/nbproject/private/
/ExemploAula2/build/
/Aula03POO/nbproject/private/
/Aula03POO/build/
/Aula04POO/nbproject/private/
/Aula04POO/build/
/Aula5POO/nbproject/private/
/Aula5POO/build/
/projetoCalendario/nbproject/private/
/projetoCalendario/build/
